In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Credit_Risk_Validate_data(1).csv")
data1 = data.drop(["Gender"], axis = 1)

In [3]:
data1.head()

,Loan_ID,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,LP001015,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,LP001051,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N

In [4]:
X1 = data1.iloc[:, :-1].values
y1 = data1.iloc[:, 11].values

In [5]:
from sklearn.preprocessing import LabelEncoder , Imputer

In [6]:
label = LabelEncoder()

In [7]:
X1[:, 1] = label.fit_transform(X1[:, 1])
X1[:, 3] = label.fit_transform(X1[:, 3])
X1[:, 0] = label.fit_transform(X1[:, 0])
X1[:, 10] = label.fit_transform(X1[:, 10])

In [8]:
X1

array([[0, 1, '0', ..., 360.0, 1.0, 2],
       [1, 1, '1', ..., 360.0, 1.0, 2],
       [2, 1, '2', ..., 360.0, 1.0, 2],
       ...,
       [364, 0, '0', ..., 360.0, nan, 1],
       [365, 1, '0', ..., 360.0, 1.0, 0],
       [366, 0, '0', ..., 180.0, 1.0, 0]], dtype=object)

In [9]:
y1 = label.fit_transform(y1)

In [10]:
y1

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int64)

In [11]:
data1.head()

,Loan_ID,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,outcome
0,LP001015,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,Y
4,LP001051,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N

In [12]:
# Checking the Nan values
print(data1[data1['Married'].isnull()].index.tolist())
print(data1[data1['Dependents'].isnull()].index.tolist())
print(data1[data1['Education'].isnull()].index.tolist())
print(data1[data1['Self_Employed'].isnull()].index.tolist())
print(data1[data1['ApplicantIncome'].isnull()].index.tolist())
print(data1[data1['CoapplicantIncome'].isnull()].index.tolist())
print(data1[data1['LoanAmount'].isnull()].index.tolist())
print(data1[data1['Loan_Amount_Term'].isnull()].index.tolist())
print(data1[data1['Credit_History'].isnull()].index.tolist())
print(data1[data1['Property_Area'].isnull()].index.tolist())

[]
[46, 70, 111, 138, 202, 247, 251, 265, 302, 312]
[]
[8, 11, 13, 36, 72, 89, 142, 161, 168, 175, 192, 243, 255, 259, 276, 278, 285, 287, 294, 297, 301, 323, 326]
[]
[]
[78, 101, 188, 247, 289]
[45, 48, 117, 129, 184, 214]
[3, 12, 26, 28, 45, 90, 99, 104, 115, 139, 143, 164, 177, 179, 185, 202, 220, 259, 262, 265, 282, 286, 305, 329, 336, 351, 358, 360, 364]
[]

In [13]:
from collections import Counter

In [14]:
Counter(data1['Dependents'])

Counter({'0': 200, '1': 58, '2': 59, '3+': 40, nan: 10})

In [15]:
pd.crosstab(data1['Married'], data1['Dependents'].isnull())

Dependents  False  True
Married
No            129      5
Yes           228      5

In [16]:
pd.crosstab(data1['Dependents'], data1['Married'])

Married      No  Yes
Dependents
0           105   95
1            13   45
2             6   53
3+            5   35

In [17]:
print(data1[data1['Dependents'].isnull()].index.tolist())

[46, 70, 111, 138, 202, 247, 251, 265, 302, 312]

In [18]:
# For bachelor , lets fill the dependents as 0
bachelor_ = data1[(data1["Married"]=='No') & (data1['Dependents'].isnull())].index.tolist()

In [19]:
bachelor_

[70, 138, 265, 302, 312]

In [20]:
data1['Dependents'].iloc[bachelor_]='0'

C:\Users\LENOVO\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [21]:
Counter(data1["Dependents"])

Counter({'0': 205, '1': 58, '2': 59, '3+': 40, nan: 5})

In [22]:
#Let's fill the remaining ones
married_d = data1[(data1["Married"]=="Yes") & (data1["Dependents"].isnull())].index.tolist()
married_d

[46, 111, 202, 247, 251]

In [23]:
data1["Dependents"].iloc[married_d]="2"

C:\Users\LENOVO\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [24]:
Counter(data1["Dependents"])

Counter({'0': 205, '1': 58, '2': 64, '3+': 40})

In [25]:
data1.isnull().sum()

Loan_ID               0
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
outcome               0
dtype: int64

In [26]:
Counter(data1["Self_Employed"])

Counter({'No': 307, 'Yes': 37, nan: 23})

In [27]:
pd.crosstab(data1["Self_Employed"], data1["Married"])

Married         No  Yes
Self_Employed
No             115  192
Yes             12   25

In [28]:
# Let's manage those ppl who are married and have missing data about their employment, and fill them as not self employed
#
Single_not_self_empl = data1[(data1["Married"]=="Yes")& (data1["Self_Employed"].isnull())].index.tolist()

In [29]:
data1["Self_Employed"].iloc[Single_not_self_empl]="No"

C:\Users\LENOVO\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [30]:
Counter(data1["Self_Employed"])

Counter({'No': 323, 'Yes': 37, nan: 7})

In [31]:
se_emp = data1[(data1["Married"]=="No") & (data1["Self_Employed"].isnull())].index.tolist()

In [32]:
data1["Self_Employed"].iloc[se_emp]="Yes"

C:\Users\LENOVO\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [33]:
Counter(data1["Self_Employed"])

Counter({'No': 323, 'Yes': 44})

In [34]:
data1.isnull().sum()

Loan_ID               0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
outcome               0
dtype: int64

In [35]:
pd.crosstab(data1["Self_Employed"], data1["Credit_History"])

Credit_History  0.0  1.0
Self_Employed
No               55  242
Yes               4   37

In [36]:
# Let's find ppl who have missing credit history and are not self employed and then fill that with 1

workingclass_ = data1[(data1["Self_Employed"]=="No") & (data1["Credit_History"].isnull())].index.tolist()

In [37]:
data1["Credit_History"].iloc[workingclass_]=1.0

C:\Users\LENOVO\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [38]:
Counter(data1["Credit_History"])

Counter({0.0: 59, 1.0: 305, nan: 1, nan: 1, nan: 1})

In [39]:
bclass_ = data1[(data1["Self_Employed"]=="Yes")&(data1['Credit_History'].isnull())].index.tolist()

In [40]:
data1["Credit_History"].iloc[bclass_]=0.0

C:\Users\LENOVO\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [41]:
Counter(data1["Credit_History"])

Counter({0.0: 62, 1.0: 305})

In [42]:
data1.isnull().sum()

Loan_ID              0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           5
Loan_Amount_Term     6
Credit_History       0
Property_Area        0
outcome              0
dtype: int64

In [43]:
from sklearn.preprocessing import Imputer

In [44]:
imputer  = Imputer(missing_values="NaN", strategy = "mean")

In [45]:
data1.groupby(data1['Loan_Amount_Term'])['LoanAmount'].mean()

Loan_Amount_Term
6.0       95.000000
12.0     260.000000
36.0     118.000000
60.0     139.000000
84.0     106.333333
120.0     80.000000
180.0     99.818182
240.0    136.750000
300.0    131.142857
350.0    133.000000
360.0    139.882736
480.0    105.857143
Name: LoanAmount, dtype: float64

In [46]:
pd.crosstab(data1['LoanAmount'].isnull(), data1['Loan_Amount_Term'])

Loan_Amount_Term,6.0,12.0,36.0,60.0,84.0,120.0,180.0,240.0,300.0,350.0,360.0,480.0
LoanAmount,,,,,,,,,,,,
False,1,1,1,1,3,1,22,4,7,1,307,7
True,0,0,0,0,0,0,0,0,0,0,4,1

In [47]:
lterm360 = data1[(data1["Loan_Amount_Term"]==360) & (data1["LoanAmount"].isnull())].index.tolist()
lterm480 = data1[(data1["Loan_Amount_Term"]==480) & (data1["LoanAmount"].isnull())].index.tolist()

In [48]:
lterm360 
lterm480

[101]

In [49]:
data1["LoanAmount"].iloc[lterm360]=139.88

C:\Users\LENOVO\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [50]:
data1["LoanAmount"].iloc[lterm480]=105.857143

C:\Users\LENOVO\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [51]:
data1.isnull().sum()

Loan_ID              0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     6
Credit_History       0
Property_Area        0
outcome              0
dtype: int64

In [52]:
data1.groupby(data1['Loan_Amount_Term'])['LoanAmount'].mean()

Loan_Amount_Term
6.0       95.000000
12.0     260.000000
36.0     118.000000
60.0     139.000000
84.0     106.333333
120.0     80.000000
180.0     99.818182
240.0    136.750000
300.0    131.142857
350.0    133.000000
360.0    139.882701
480.0    105.857143
Name: LoanAmount, dtype: float64

In [53]:
data1["Loan_Amount_Term"][data1["Loan_Amount_Term"].isnull()]= 360

C:\Users\LENOVO\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
data1.isnull().sum()

Loan_ID              0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
outcome              0
dtype: int64

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [56]:
standardscaler = StandardScaler()

In [59]:
data2= pd.get_dummies(data1)

In [63]:
data_2 = data1.drop(["Loan_ID"], axis=1)

In [64]:
data_new = pd.get_dummies(data_2)

In [66]:
data_new.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,outcome_N,outcome_Y
0,5720,0,110.0,360.0,1.0,0,1,1,0,0,0,1,0,1,0,0,0,1,0,1
1,3076,1500,126.0,360.0,1.0,0,1,0,1,0,0,1,0,1,0,0,0,1,0,1
2,5000,1800,208.0,360.0,1.0,0,1,0,0,1,0,1,0,1,0,0,0,1,0,1
3,2340,2546,100.0,360.0,1.0,0,1,0,0,1,0,1,0,1,0,0,0,1,0,1
4,3276,0,78.0,360.0,1.0,1,0,1,0,0,0,0,1,1,0,0,0,1,1,0

In [69]:
X_ = np.array(data_new.drop(["outcome_Y"], axis= 1))
y_ = np.array(data_new["outcome_Y"])

In [70]:
X_train , X_test , y_train , y_test = train_test_split(X_,y_, test_size = 0.2 , random_state = 0)

In [74]:
from sklearn.preprocessing import StandardScaler

In [75]:
std = StandardScaler()

In [76]:
X_train = std.fit_transform(X_train)

In [77]:
from sklearn.neural_network import MLPClassifier

In [78]:
mlp= MLPClassifier(hidden_layer_sizes =(13,13),max_iter=500)

In [79]:
mlp.fit(X_train , y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(13, 13), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [92]:
mlp.score(X_test, y_test)

0.79729729729729726

In [84]:
y_pred = mlp.predict(X_test)

In [85]:
from sklearn.metrics import confusion_matrix

In [90]:
cm = confusion_matrix(y_test, y_pred)

In [91]:
cm

array([[ 0, 15],
       [ 0, 59]], dtype=int64)